/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */

h2.text-muted {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 20px;
  color: #999;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}